/* SF Pro Display Regular */
@font-face {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 400;
  src: url('/font/iphone/sf-pro-display_regular.woff2') format('woff2');
}

/* SF Pro Display Semibold */
@font-face {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 600;
  src: url('/font/iphone/sf-pro-display_semibold.woff2') format('woff2');
}

/* SF Pro Text Regular */
@font-face {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 400;
  src: url('/font/iphone/sf-pro-text_regular.woff2') format('woff2');
}
